* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

header {
  position: relative;
  width: 100%;
  height: 100px;
  background-color: rgb(255, 255, 255);
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
.main {
  max-width: 1240px;
  min-width: 320px;
  margin: auto;
  // background-color: black;
  // width: 100%;
  // height: 100dvh;
}
.main-page {
  display: flex;
  flex-direction: column;
  // align-items: center;
  height: 100%;

  footer {
    width: 100%;
    background-color: white;
  }
}
