.text-content{
        width: 80%;
        margin: auto;
        font-family: "Playfair Display", serif;
        font-size: 20px;
        line-height: 1.6;
        margin-top: 50px;
        margin-bottom:50px ;
        background-color: white;
        padding:20px 30px 100px 30px;
        border-radius: 30px;
        .bolded-title{
            margin-bottom: 50px;
            font-weight: 800;
            font-size: 28px;
        }
    }